<%# <h1 class="page-header">推薦問題(解ける確率が高い順で解いていない問題を3つずつ)</h1> %>
<h1 class="page-header"><%= params[:code] %>さんのための推薦問題</h1>
<% keys = @recommends.try!(:keys).try!(:sort) %>
<% keys = [] if keys.blank? %>
<% keys.each do |key| %>
  <div class="table-responsive">
    <%# I18n.t("recommend.#{key}") %>
    <h2><%= key * 100 %>%の確率で解ける</h2>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">volume</th>
          <th class="text-center">コード</th>
          <th class="text-center">タイトル</th>
          <th class="text-center">解いたユーザ数</th>
          <th class="text-center">提出数</th>
          <th class="text-center">正答率</th>
        </tr>
      </thead>
      <tbody>
        <% @recommends[key].each do |problem| %>
          <tr>
            <td class="text-center"><%= problem.id %></td>
            <td class="text-center"><%= problem.volume %></td>
            <td class="text-center"><%= problem.code %></td>
            <% url = 'http://judge.u-aizu.ac.jp/onlinejudge/description.jsp?lang=jp&id=' %>
            <td><%= link_to problem.title, url + problem.code, target: '_blank' %></td>
            <td class="text-right"><%= problem.solved_user %></td>
            <td class="text-right"><%= problem.submissions %></td>
            <td class="text-cnter"><%= problem.success_rate %>%</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
