<div class="container">
  <%= form_with url: problems_path, method: :patch, class: 'form-signin' do |f| %>
    <h2 class="form-signin-heading">正解状況を更新する</h2>
    <%= f.label :aoj_id, class: 'sr-only' %>
    <%= f.text_field :aoj_id, class: 'form-control', placeholder: 'AOJのID' %>
    <%= f.label :aoj_password, class: 'sr-only' %>
    <%= f.password_field :aoj_password, class: 'form-control', placeholder: 'AOJのPassword' %>
    <%= f.submit 'ログインして正解状況を更新', class: 'btn btn-lg btn-primary btn-block' %>
  <% end %>
</div>
