<% @page_title = 'TOP' %>

<div class="row">
  <div class="col-md-6">
    <h1>問題一覧</h1>
  </div>
  <%= form_with url: aoj_problems_path do |f| %>
    <div class="form-group">
      <div class="col-md-2">
        <%= f.label :aoj_id, class: 'control-label' %>
        <%= f.text_field :aoj_id %>
      </div>
      <div class="col-md-2">
        <%= f.label :aoj_password, class: 'control-label' %>
        <%= f.password_field :aoj_password %>
      </div>
      <div class="col-md-2">
        <label class='control-label'></label>
        <%= f.submit '解答状況を更新する', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="text-center">ID</th>
        <th class="text-center">volume</th>
        <th class="text-center">コード</th>
        <th class="text-center">タイトル</th>
        <th class="text-center">ステータス</th>
        <th class="text-center">解いたユーザ数</th>
        <th class="text-center">提出数</th>
        <th class="text-center">正答率</th>
      </tr>
    </thead>
    <tbody>
      <% @problems.each do |problem| %>
        <% solved = problem.solved?(current_user) %>
        <tr class="<%= solved ? 'success' : nil %>">
          <td class="text-center"><%= problem.id %></td>
          <td class="text-center"><%= problem.volume %></td>
          <td class="text-center"><%= problem.code %></td>
          <td><%= problem.title %></td>
          <td class="text-center">   <%= solved ? '解いた' : '' %></td>
          <td class="text-right"><%= problem.solved_user %></td>
          <td class="text-right"><%= problem.submissions %></td>
          <td class="text-cnter"><%= problem.success_rate %>%</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @problems %>
