<div class="form-group">
  <%= f.label :code, class: 'control-label col-md-2' %>
  <%= f.text_field :code, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :title, class: 'control-label col-md-2' %>
  <%= f.text_field :title, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :time_limit, class: 'control-label col-md-2' %>
  <%= f.text_field :time_limit, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :mmemory_limit, class: 'control-label col-md-2' %>
  <%= f.text_field :mmemory_limit, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :solved_user, class: 'control-label col-md-2' %>
  <%= f.text_field :solved_user, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :submissions, class: 'control-label col-md-2' %>
  <%= f.text_field :submissions, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :volume, class: 'control-label col-md-2' %>
  <%= f.text_field :volume, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :large_cl, class: 'control-label col-md-2' %>
  <%= f.text_field :large_cl, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :difficulty, class: 'control-label col-md-2' %>
  <%= f.number_field :difficulty, class: 'form-control' %>
</div>
