<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%# favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
    <title><%= page_title %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <!-- ヘッダ -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <!-- スマホ画面用 -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'AOJ Reco 管理画面', admin_root_path, class: 'navbar-brand' %>
        </div>
        <%= render 'shared/admin/header' %>
      </div>
    </nav>
    <!-- 本体 -->
    <div class="container-fluid">
      <div class="row">
        <%= render 'shared/admin/sidebar' %>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <%= render 'shared/flash' %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
