<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="<%= active?('top', 'index') %>"><%= link_to '問題一覧', root_path %></li>
    <li class="<%= active?('problems', 'recommend') %>"><%= link_to '問題推薦', recommend_path %></li>
    <li class="<%= active?('problems', 'edit') %>"><%= link_to 'AOJデータ更新', edit_problems_path %></li>
  </ul>
</div>
